/*Estilos da página index.html*/
        
        body{
            margin: 0px;
            color: white;
            font-family: 'Dancing Script', cursive;
            
        }
        header{
            display: flex;
            flex-direction: row;
            margin-left: 20px;

        }
        h1{
            font-family: 'Dancing Script', cursive;
        }
        h2{
            font-family: 'Dancing Script', cursive;
        }
        

        .color{
            background-color:white;

        }
        .p5{
            font-size: 20px;
        }
        .p1{
            font-size: 20px;
        }
        .center{
            text-align: center;
        }
        .p2{
            font-size: 50px;
        }
        .p22{
            font-size: 30px;
        }
        .container-2{
            align-items: flex-end;
        }
        .container{
            display: flex;
            justify-content: center;
            flex-flow: row;
            align-items: center;
            font-size: 30px;
        }
        .container-direita2{
            margin-left: 1450px;
            margin-top: 25px;
        }

        .container-direita{
            margin-left: 1750px;
            margin-top: 25px;
        }

        .container-end{
            display: flex;
            align-items: center;
            
        }
        #menu li{
            display: inline;
            padding: 15px;
           
        }

        #menu li a{
            text-decoration: none;
            color: black;
            font-size: 80px;
        }

        #menu li a:hover{
            color: grey;
        }

        .p-30{
            padding: 30px;
        }
        .br-50{
            border-radius: 50%;
        }
        .tm-social{
            width: 50px;
            right: 50px;
        }
        .mg-50{
            margin-bottom: 50px;
        }
        .mg-100{
            margin-bottom: 150px;
        }
        .mg-rg{
            margin-right: 200px;
        }
        .mg-up{
            margin-top: 100px;
        }
        .section{
            background:url(https://i.imgur.com/L82Qf6M.jpg);
        }

   


/* Estilos da página contato.html*/

.mg-lf{
    margin-left: 50px;
}